body {
  margin: 0;
  text-align: center;
  font-family: 'Ubuntu', serif;
  color: #f8f8f2;
  background-color: #22212C;
}

h1 {
  margin: 50px auto 0 auto;
  font-family: 'Ubuntu', cursive;
  color: #F8F8F2;
  font-size: 5.625rem; /*100% = 1em = 16px, so 90/16 = 5.625 * 100 = 562.5 */
  line-height: 1.5;
}

h2 {
  margin-top: 0;
  font-family: 'Ubuntu', sans-serif;
  font-size: 2rem;
  color: #00c894;
  padding-bottom: 10px;
  font-weight: 900;

}
h3 {
  margin-top: 0;
  font-family: 'Ubuntu', sans-serif;
  color: #00c894;
}

a {
  color: #518071;
  font-family: 'Ubuntu', sans-serif;
  margin: 10px 20px;
  text-decoration: none;
}

a:hover {
  color: #EAF6F6;
}

p {
  line-height: 2;
}

hr {
  border: dotted 8px #F8F8F2;
  border-bottom: none;
  width: 4%;
  margin: 100px auto;
}

#subs {
  font-family: 'Ubuntu';
  width: 40%;
  margin: auto;
  line-height: 2;
  font-weight: 400;
}
.introduction {
  width: 85%;
  margin: 100px auto;
  text-align: center;
  font-size: 1.3rem;
}
.skills {
  margin-top: 80px;
}

.skill-row {
  width: 50%;
  margin: 100px auto;
  text-align: left;
}

.contact-message {
  width: 40%;
  margin: 40px auto 60px;
}

.top-container {
  background-color: #353345;
  position: relative;
  padding-top: 50px;
  padding-bottom: 50px;
}

.middle-container {
  margin: 100px 0;
}

.bottom-container {
  background-color: #353345;
  position: relative;
  padding: 50px 0 20px;
}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 40px;
}
.bottom-cloud {
  position: absolute;
  left: 250px;
  bottom: 300px;
}

.profile-picture {
  width: 15%;
  margin-bottom: 30px;
}

.graph-gif {
  width: 25%;
  float: left;
  margin-right: 30px;
}

.computational-gif {
  width: 25%;
  float: right;
  margin-left: 30px;
}

.brain-gif {
  width: 25%;
  float: left;
  margin-right: 30px;
}

.terminal-gif {
  width: 25%;
  float: right;
  margin-left: 30px;
}

.btn {
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: Ubuntu;
  font-weight: 900;
  color: #ffffff;
  font-size: 20px;
  background: #00c894;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background:  #FFA32B;
  text-decoration: none;
}

.copyright {
  color: #EAF6F6;
  font-size: 0.75rem;
  padding: 20px 0;
}

.footer-link {
}
