body {
background-color: #22212C;
font-family: 'Ubuntu', serif;
}

h2 {
  /* text-align: center; */
  color: #00C894;
}

.navbar-custom {
/* background-color: #22212C; */
background-color: #353345; 
}

.text-green {
  /* text-align: center; */
  color: #00C894;
}

.bg-grey {
  /* text-align: center; */
  background-color: #353345 !important; 
}

.profile-picture{
  width: 25%;
}

.text-code{
  font-family: 'Ubuntu Mono' !important;
  font-weight: bold;
}

#smiley{
  font-family: 'Ubuntu Mono', serif !important;
}
